absl-py==2.1.0
asttokens==3.0.0
astunparse==1.6.3
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
contourpy
cycler==0.12.1
debugpy==1.8.12
decorator==5.1.1
docstring_parser==0.16
exceptiongroup==1.2.2
executing==2.2.0
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2025.2.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.70.0
idna==3.10
immutabledict==4.2.1
ipykernel==6.29.5
ipywidgets==8.1.5
jedi==0.19.2
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
keras
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
matplotlib
matplotlib-inline==0.1.7
mdurl==0.1.2
namex==0.0.8
nest-asyncio==1.6.0
neurokit2==0.2.10
numpy
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pandas
parso==0.8.4
promise==2.3
prompt_toolkit==3.0.50
protobuf==3.20.3
psutil==7.0.0
pure_eval==0.2.3
Pygments==2.19.1
PyYAML==6.0.2
pyzmq==26.2.1
requests==2.32.3
rich==13.9.4
scikit-learn
scipy
seaborn==0.13.2
simple-parsing==0.1.7
six==1.17.0
stack-data==0.6.3
tensorboard
tensorboard-data-server==0.7.2
tensorflow
tensorflow-datasets
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-probability
tqdm
zipp
